<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>InstaDapp</title>
    <link rel="stylesheet" type="text/css" media="screen" href="css/index.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/loader.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/msg.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
</head>

<body>

    <div class="modalCover">
        <div class="modalBox">
            <div class="modalTop"></div>
            <div class="modalPadding">
                <div class="modalText"></div>
                <div class="modalBtn" onclick="$('.modalCover').hide()">DISMISS</div>
            </div>
        </div>
    </div>

    <div class="loader">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <div class="topBar">
        <div class="projectName">InstaDapp</div>
        <div class="balanceBox">
            <div class="mainBalance" id="topEthBal">ETH: ...</div>
            <div class="mainBalance" id="topDaiBal">DAI: ...</div>
            <div class="mainBalance">METAMASK</div>
        </div>
    </div>

    <div class="coverDiv">


        <div class="mainBox">

            <div class="balanceAndTitle">
                <div class="mainBoxTitle">Global CDP Stats</div>
            </div>

            <div class="cdpDataBox">
                <div class="dataBoxes">
                    <div class="dataDetail" id="ethCurrentPrice">...</div>
                    <div class="dataName">ETH Price</div>
                </div>
                <div class="dataBoxes">
                    <div class="dataDetail" id="ethLocked">...</div>
                    <div class="dataName">ETH Locked</div>
                </div>
                <div class="dataBoxes">
                    <div class="dataDetail" id="daiTaken">...</div>
                    <div class="dataName">DAI Taken</div>
                </div>
                <div class="dataBoxes">
                    <div class="dataDetail" id="availableDai">...</div>
                    <div class="dataName">DAI Available</div>
                </div>
                <div class="dataBoxes">
                    <div class="dataDetail" id="dilutionPercent">...</div>
                    <div class="dataName">Percent Dilution</div>
                </div>
            </div>
        </div>

        <div class="processContainer">

            <div class="processBoxes" style="margin-left: 0px">
                <div class="processBoxTitle">Take Loan</div>
                <div class="takeLoanBoxes">
                    <div class="titleTakeLoan">ETH as Collateral</div>
                    <div class="takeLoanInputBox">
                        <input class="takeLoanInput" type="number" id="ethToLock" min="0" value="0">
                    </div>
                </div>
                <div class="takeLoanBoxes">
                    <div class="titleTakeLoan">DAI against ETH</div>
                    <div class="takeLoanInputBox">
                        <input class="takeLoanInput" type="number" id="daiFromLock" min="0" value="0">
                    </div>
                </div>
                <div class="takeLoanBoxes">
                    <div class="titleTakeLoan">% of DAI</div>
                    <div class="takeLoanInputBox">
                        <input class="takeLoanInput" type="number" id="percentDaiFromLock" value="33" min="0" max="50">
                    </div>
                </div>
                <div class="takeLoanBoxes" style="margin-bottom: 23px">
                    <div class="titleTakeLoan">Balance ETH</div>
                    <div class="takeLoanInputBox">
                        <input class="takeLoanInput readOnlyInput" type="number" id="ethRemainAfterLock" min="0" readonly>
                    </div>
                </div>
                <div class="butBuySell" onclick="getLoan()">Get Loan</div>
            </div>

            <div class="processBoxes">
                <div class="processBoxTitle">Swap Tokens</div>
                <div class="changeTokenBut" onclick="changeToken()">Change Token</div>
                <div class="tradeInputContainer">
                    <div class="coinSellBox coinTradeBox">
                        <div class="tradeImgCon">
                            <img src="color/eth.png" id="imgForSell" style="width:44px; height:44px">
                        </div>
                        <div class="coinNameSym">
                            <div class="coinSymbol" id="sellSymbol">ETH</div>
                            <div class="coinFullName" id="sellFullName">ethereum</div>
                        </div>
                        <div class="inputTradeBox">
                            <input type="number" min="0" class="inputTrade coinOneInput" placeholder="0.00">
                        </div>
                    </div>
                    <div class="ArrowIcon" onclick="ArrowIcon()">
                        <div id="coinTocoin">1ETH = 430 DAI</div>
                        <i class="fas fa-arrow-down arrowTransform"></i>
                        <div id="toggleCoin">toggle</div>
                    </div>
                    <div class="coinBuyBox coinTradeBox">
                        <div class="inputTradeBox">
                            <input type="number" min="0" class="inputTrade coinTwoInput" placeholder="0.00">
                        </div>
                        <div class="coinNameSym">
                            <div class="coinSymbol" id="buySymbol">DAI</div>
                            <div class="coinFullName" id="buyFullName">dai</div>
                        </div>
                        <div class="tradeImgCon">
                            <img src="color/dai.png" id="imgForBuy" style="width:44px; height:44px">
                        </div>
                    </div>
                </div>
                <div class="qtyFeesBox">
                    <div>
                        <div class="tokenQtyBox">
                            <div class="tokenQtyValue">ETH: 2.3645</div>
                            <div class="tradeAllBut" onclick="tradeAllCoin()">Trade All</div>
                        </div>
                        <!-- <div class="transFees">Transaction Fees: 0.178 ETH</div> -->
                    </div>
                    <div class="butBuySell" id="swapTrade" onclick="swapTokens()">Trade / Swap</div>
                </div>
            </div>

            <div class="processBoxes" style="margin-right: 0px">
                <div class="processBoxTitle">Repay Loan</div>
                <div class="takeLoanBoxes">
                    <div class="titleTakeLoan">ETH Locked | Price in $</div>
                    <div class="forNonInputs">
                        <div class="nonInputCon ethLockBox readOnlyInput" id="payEthLocked">...</div>
                        <div class="nonInputCon lockEthCurBox readOnlyInput" id="payEthDai">...</div>
                    </div>
                </div>
                <div class="takeLoanBoxes">
                    <div class="titleTakeLoan">DAI Taken</div>
                    <div class="forNonInputs">
                        <div class="nonInputCon daiTakenBox readOnlyInput" id="payDaiTaken">...</div>
                        <!-- <div class="nonInputCon daiCurPerBox">60%</div> -->
                    </div>
                </div>
                <div class="takeLoanBoxes">
                    <div class="titleTakeLoan">Liquidation | Risk</div>
                    <div class="forNonInputs">
                        <div class="nonInputCon liqBox readOnlyInput" id="liquidationEdge">...</div>
                        <!-- <div class="nonInputCon StaBox">400$</div> -->
                        <div class="nonInputCon riskStatus">Low</div>
                    </div>
                </div>
                <div class="takeLoanBoxes" style="margin-bottom: 23px">
                    <div class="titleTakeLoan">DAI to repay</div>
                    <div class="takeLoanInputBox">
                        <input class="takeLoanInput" type="number" min="0">
                    </div>
                </div>
                <div class="butBuySell">Pay Loan</div>
            </div>

        </div>

    </div>

    <div class="coinSelectCover" hidden>
        <div class="coinSelectContainer" hidden></div>
    </div>

    <script src="js/index.js"></script>
    <script src="js/ethclient.js"></script>
    <script src="js/abiB.js"></script>
    <script src="js/ropsten.js"></script>
    <script src="js/indexA.js"></script>
    <script src="js/coinDetailsC.js"></script>
    <script src="js/kyber.js"></script>
    <script src="js/abiTakeLoan.js"></script>
    <script src="js/takeLoan.js"></script>

</body>

</html>