.mlCover {
    width: max-content;
    display: flex;
    margin: auto;
    margin-right: 0;
}

.modalCover {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

.modalCover::-webkit-scrollbar {
    display:none;
}

.modalBox {
    background-color: #fefefe;
    margin: auto;
    margin-top: 100px;
    border-radius: 2px;
    width: 450px;
}

.modalTop {
    font-size: 24px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    line-height: 36px;
    padding: 20px;
    text-align:center;
}

.modalText {
    font-size: 16px;
    letter-spacing: -1px;
    color: black;
    text-align:center;
    margin: 30px auto;
}

#modalCross {
    margin: auto;
    margin-right: 5px;
    font-size: 30px;
    cursor: pointer;
}

.modalPadding {
    padding: 15px;
    padding-bottom: 30px;
    padding-top: 0;
}

.modalBtn {
    margin: auto;
    margin-top: 12px;
    max-width: 300px;
    box-sizing: border-box;
    text-align: center;
    background-color: var(--main-color);
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    padding: 12px 40px;
    cursor: pointer;
    color: white;
}

.modalBtn:hover {
    background-color: var(--main-color);
}